@mixin pseudo-element($width, $height) {
  content: "";
  display: block;
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin picture-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

$container-padding-mobile: 10px;
$container-padding-tablet: 20px;
$container-padding-desktop: 100px;

@mixin container {
  width: 280px;
  padding-right: $container-padding-mobile;
  padding-left: $container-padding-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-screen) {
    width: 708;
    padding-right: $container-padding-tablet;
    padding-left: $container-padding-tablet;
  }

  @media (min-width: $desktop-screen) {
    width: 1220px;
    padding-right: $container-padding-desktop;
    padding-left: $container-padding-desktop;
  }
}
