/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/functional-food.scss";
@import "./blocks/how-it-works.scss";
@import "./blocks/live-example.scss";
@import "./blocks/invitation.scss";
@import "./blocks/footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/subscribtion.scss";
@import "./blocks/index.scss";
