.additional-products__container {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-screen) {
    gap: 70px;
  }

  @media (min-width: $desktop-screen) {
    flex-direction: row;
    gap: 80px;
  }
}

.additional-products__list {
  @include clear-list;
}

.additional-products__item {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-screen) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__item-button {
  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    grid-column: 1 / -1;
  }
}

.additional-products__buy-all-gift-container {
  &::before {
    @include pseudo-element(78px, 80px);
    mask-image: url("../../icons/stack.svg#gift");
    background-color: #000000;
  }

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    display: flex;
    justify-content: space-between;
  }
}

