.button {
  cursor: pointer;
  display: block;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, opacity 250ms ease-in-out;
}


.button--burger {
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#burger-button");
  mask-size: 24px 24px;
  background-color: $primary-color;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $button-primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--x {
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#xmark");
  mask-size: 18px 18px;
  background-color: $primary-color;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $button-primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--primary {
  background-color: $button-primary-color;
  color: $button-primary-contrast-color;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $button-primary-hover-color;
  }

  &:active {
    color: $button-primary-active-contrast-color;
  }
}

.button--secondary {
  background-color: $button-secondary-color;
  color: $secondary-color;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    background-color: $button-secondary-hover-color;
  }
}
