.button {
  cursor: pointer;
  display: block;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;
  text-wrap: nowrap;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, opacity 250ms ease-in-out;
}


.button--burger {
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#burger-button");
  mask-size: 24px 24px;
  background-color: $primary-color;
}

.button--primary {
  background-color: $button-primary-color;
  color: $button-primary-contrast-color;
}
