.footer {
  padding: 40px 0;

  & .page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-screen) {
    padding: 55px 0;

    & .page__container {
      min-height: 37px;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  @media (max-width: $mobile-screen-max) {
    .page__container > :not(:last-child) {
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }

    .page__container > :not(:first-child) {
      padding-top: 20px;
      border-top: 1px $separator-color solid;
    }
  }

  @media (min-width: $desktop-screen) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__socials {
  @include clear-list;
  display: flex;
  justify-content: center;
  gap: 24px;

  @media (min-width: $tablet-screen) {
    margin-left: 36px;
  }
}

.footer__social-link {
  background-position: center;
  background-size: 28px 22px;
  background-repeat: no-repeat;

  &::before {
    @include pseudo-element(28px, 22px);
    background-color: $special-color;
  }
}

.footer__social-link--vk {
  &::before {
    mask-image: url("../../icons/stack.svg#vkontakte");
  }
}

.footer__social-link--youtube {
  &::before {
    mask-image: url("../../icons/stack.svg#youtube");
  }
}

.footer__social-link--telegram {
  &::before {
    mask-image: url("../../icons/stack.svg#telegram");
  }
}

.footer .footer__html-academy-logo {
  display: flex;
  align-items: center;
  gap: 23px;

  @media (max-width: $mobile-screen-max) {
    width: 100%;
    justify-content: space-between;
  }
}

.footer__html-academy-logo-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: $secondary-color;
}
