.footer__social-link {
  background-position: center;
  background-size: 28px 22px;
  background-repeat: no-repeat;
}


.footer__social-link--vk {
  background-image: url("../../icons/stack.svg#vkontakte");
}

.footer__social-link--youtube {
  background-image: url("../../icons/stack.svg#youtube");
}

.footer__social-link--telegram {
  background-image: url("../../icons/stack.svg#telegram");
}
