.functional-food__function-item--weight-loss {
  background-image: url("../../icons/stack.svg#weight-loss");
}

.functional-food__function-item--weight-gain {
  background-image: url("../../icons/stack.svg#weight-gain");
}

.functional-food__function-link {
  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    mask-image: url("../../icons/stack.svg#arrow-idle");
    background-color: #000000;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    mask-image: url("../../icons/stack.svg#arrow-hovered");
  }

  &:active::after {
    opacity: 0.3;
  }
}
