.how-it-works__title {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.how-it-works__list {
  @include clear-list;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-screen) {
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-screen) {
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.how-it-works__item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $secondary-color;
  font-size: 14px;
  line-height: 18px;

  &::before {
    @include pseudo-element(60px, 60px);
    flex-shrink: 0;
    background-color: #68b738;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 32px;
  }

  @media (min-width: $tablet-screen) {
    flex-direction: column;
    gap: 31px;
  }
}

.how-it-works__item--leaf {
  &::before {
    background-image: url("../../icons/stack.svg#leaf");
  }
}

.how-it-works__item--powder {
  &::before {
    background-image: url("../../icons/stack.svg#powder");
  }
}

.how-it-works__item--eat {
  &::before {
    background-image: url("../../icons/stack.svg#eat");
  }
}

.how-it-works__item--hours {
  &::before {
    background-image: url("../../icons/stack.svg#hours");
  }
}
