.invitation {
  position: relative;
}

.invitation__container {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-screen) {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $page-background-color;
  }
}

.invitation__adress-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-screen) {
    gap: 19px;
  }

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    text-align: right;
  }
}

