.invitation {
  position: relative;

  & iframe {
    border: none;
    display: block;
    height: 362px;

    @media (min-width: $tablet-screen) {
      height: 400px;
    }
  }

  & .page__container {
    position: relative;
  }
}

.invitation__container {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-screen) {
    gap: 96px;
    padding: 60px 80px;
    padding-right: 78px;
    position: absolute;
    top: 96px;
    left: 110px;
    background-color: $page-background-color;
  }
}

.invitation__text {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 100%;

  @media (max-width: $mobile-screen-max) {
    & br:nth-of-type(2) {
      display: none;
    }
  }

  @media (min-width: $tablet-screen) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__adress-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-screen) {
    gap: 19px;
  }

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    text-align: right;
  }

  @media (min-width: $desktop-screen) {
    min-width: 157px;
  }
}

.invitation__adress,
.invitation__city {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: $secondary-color;

  @media (min-width: $tablet-screen) {
    font-size: 16px;
    line-height: 20px;
  }
}

.invitation__adress {
  @media (max-width: $mobile-screen-max) {
    & br {
      display: none;
    }
  }
}
