.logo {
  display: flex;
  gap: 56px;
  align-items: center;

  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }


  @media (min-width: $tablet-screen) {
    gap: 13px;
  }

  @media (min-width: $desktop-screen) {
    gap: 14px;
  }
}

.logo__image {
  @include picture-center;
}

.logo__text {
  margin-top: 10px;
}
