.main-nav {
  background-color: $page-background-color;

  @media (min-width: $tablet-screen) {
    background-color: inherit;
  }
}

.main-nav__list {
  @include clear-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-screen) {
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__item {
  border-top: 1px $separator-color solid;

  & .button {
    padding: 22px 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
  }

  @media (min-width: $tablet-screen) {
    border-top: none;
    position: relative;

    & .button {
      padding: 14px 0 12px;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-screen) {
    & .button {
      color: $page-background-color;
      font-size: 20px;
      line-height: 100%;
    }
  }
}

.main-nav__item--active {
  @media (min-width: $tablet-screen) {
    &::after {
      @include pseudo-element(100%, 2px);
      position: absolute;
      bottom: 2px;
      background-color: $button-primary-color;
    }
  }

  @media (min-width: $desktop-screen) {
    &::after {
      background-color: $page-background-color;
      bottom: 0;
    }
  }
}

